.collapsible li i {
    transition: 200ms;
}
.collapsible li.active i {
    transform: rotate(180deg);

    transition: 200ms;
}

.logo {
    width: 100%;
    max-width: 200pt;
}

.media {
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .sort {
        display: block;
        width: 100%;
    }
}