<html>
    <head>
        <title>Events</title>

        <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flag-icon-css@3.5.0/css/flag-icon.min.css">

        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <link rel="stylesheet" href="css/general.css">
        <script src="js/general.js"></script>
    </head>
    <body>
        <nav class="light-blue">
            <div class="nav-wrapper container">
                <a href="/" id="brand-logo" class="white-text brand-logo">4x4sport.info</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="events">Events</a></li>
                </ul>
            </div>
        </nav>

        <div class="container">
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header center" style="display: block;">
                        <i id="search-collapse" class="material-icons">expand_more</i>
                    </div>
                    <div class="collapsible-body">
                        <form id="search-form">
                            <label>Name:</label>
                            <input name="name" type="text">
                            <label>Maximum Distance</label>
                            <p class="range-field">
                                <input name="range" type="range" min="0" step="100" max="10000">
                            </p>
                            <div class="input-field col s12">
                                <label id="type-label">Types:</label>
                                <select name="types" id="type-select" multiple>
                                    <option value="trophy" selected>Trophy</option>
                                    <option value="rallye" selected>Rallye</option>
                                    <option value="trial" selected>Trial</option>
                                    <option value="meeting" selected>Meeting</option>
                                    <option value="free-driving" selected>Free Driving</option>
                                </select>
                            </div>
                            <label>
                                <input type="checkbox" class="filled-in" checked="checked" name="future" id="future-select"/>
                                <span>Only show future events</span>
                            </label>
                        </form>
                    </div>
                </li>
            </ul>
            <table id="content-table">
                <tr>
                    <th id="name-tag">
                        Name
                        <br class="hide-on-med-and-up">
                        <span class="sort center" id="name-sort"></span>
                    </th>
                    <th id="start-tag">
                        Start
                        <br class="hide-on-med-and-up">
                        <span class="sort center" id="start-sort"></span>
                    </th>
                    <th id="duration-tag">
                        Duration
                        <br class="hide-on-med-and-up">
                        <span class="sort center" id="duration-sort"></span>
                    </th>
                    <th id="country-tag">
                        Country
                        <br class="hide-on-med-and-up">
                        <span class="sort center" id="country-sort"></span>
                    </th>
                </tr>
            </table>
        </div>
    </body>
    <script src="js/events.js"></script>
</html>